html,body {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(40deg, rgba(0,0,0,1) 17%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(40deg, rgba(0,0,0,1) 17%, rgba(255,0,0,1) 100%);
    background: linear-gradient(40deg, rgba(0,0,0,1) 17%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ff0000",GradientType=1);
}
